* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7ebc89;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 30px;
  font-size: 3.5rem;
  font-family: "Times New Roman", Times, serif;
  color: #2d0b0b;
}

.container {
  height: 330px;
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #ffeeff;
  color: blue;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 3.5rem;
}

.player {
  color: blue;
}

.reset {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #1a1423;
  color: white;
  margin-top: 30px;
  font-size: 1rem;
}

button:hover {
  position: relative;
  right: 1px;
  bottom: 1px;
}

.reset:active {
  background-color: white;
  color: black;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
